.Link {
    display: inline-block;
    border: 1px solid transparent;
    font-size: 17px;
    line-height: 20px;
    
    &__content {
        transition: color .3s;
    }

    &--primary {
        &:hover span {
            color: #F1256D;
        }

        .Link__content {
            color: white;
        }
    }

    &--secondary {
        &:hover span {
            color: rgba(0, 0, 0, .8);
        }

        .Link__content {
            color: black;
        }
    }

    &--breadcrump {
        font-size: 14px;
  
        .Link__content {
            color: #8e8e8e;
            
            &:hover {
                color: #F1256D;
            }
        }
    }
}