﻿<div class="Button__container">
    <button
        (click)="handleButtonClick()"
        [disabled]="disabled"
        [type]="type"
        [ngClass]="['Button', componentStyleClass, componentSizeClass]"
    >
        <ng-content></ng-content>
    </button>
</div>
