%primary-styles {
    border-radius: 45px;
    border: 1px solid transparent;
    transition: background-color .5s ease 0s;
    background-color: #f06747;
    background-image: linear-gradient(to right, #f06747, #f12471);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

%primary-hover-styles {
    border: 1px solid #f12471;
    border-radius: 45px;
    transition: background-color .5s ease 0s;
    background: none;
}

.Button {
    position: relative;
    display: block;
    text-align: center;
    outline: none;

    &--size-primary {
        margin-top: 5px;
        min-height: 55px;
        font-size: 16px;
        width: 100%;
    }

    &--size-secondary {
        padding: 10px 47px;
        min-height: 42px;
        font-size: 12px;
        width: 100%;
    }

    &--style-primary {
        @extend %primary-styles;

        &:hover {
            @extend %primary-hover-styles;
            color: white;
        }
    }

    &--style-secondary {
        @extend %primary-styles;

        &:hover {
            @extend %primary-hover-styles;
            color: black;
        }
    }

    &--style-inverted {
        border: 1px solid #000;
        border-radius: 45px;
        transition: background-color .5s ease 0s;
        background: none;
        color: #000;

        &:hover {
            border-radius: 45px;
            border: 1px solid transparent;
            transition: background-color .5s ease 0s;
            background-color: #f06747;
            background-image: linear-gradient(to right, #f06747, #f12471);
            color: #fff;
        }
    }

    &--style-transparent {
        border-radius: 25px;
        border: 1px solid #f06747;
        transition: background-color .5s ease 0s;
        color: #fff;

        &:hover {
            border: 1px solid transparent;
            transition: background-color .5s ease 0s;
            background-color: #f06747;
            background-image: linear-gradient(to right, #f06747, #f12471);
            color: #fff;
        }
    }
}
