<app-stepper [allowNext]="allowNext | async" [showComplete]="showComplete" (completeClick)="complete()" (selectClick)="nextQuestion($event)" [selectedIndex]="currentQuestion | async">
  <cdk-step *ngFor="let question of questions | async">
    <app-question-type-selector [question]="question"></app-question-type-selector>
  </cdk-step>
</app-stepper>
