<form class="CreateTestForm">
  <div class="form-group">
    <app-input type="text"
               [placeholder]="'Title'"
               name="create-test-first-title"
               [value]="title"
               [error]="titleError"
               (onValueChange)="handleTitleChange($event)"
               [componentSize]="'secondary'"></app-input>
  </div>
  <div class="form-group">
    <app-input type="text"
               [placeholder]="'Description'"
               name="create-test-last-description"
               [value]="description"
               [error]="descriptionError"
               (onValueChange)="handleDescriptionChange($event)"
               [componentSize]="'secondary'"></app-input>
  </div>
  <div class="form-group">
    <app-select type="text"
               [placeholder]="'Test Topic'"
               name="create-test-topic"
               [value]="topicTestId"
               [error]="topicTestIdError"
               (onSelect)="handleTopicTestIdChange($event)"
               [options]="topicTestIdOptions | async"
               (onValueChange)="handleTopicTestIdSearchChange($event)"
               [componentSize]="'secondary'"></app-select>
  </div>
  <section class="submit">
    <div class="d-flex justify-content-between align-items-center">
      <div [style.visibility]="(waiting | async) ? 'visible' : 'hidden'" class="spin-container animation-spin">
        <mat-icon aria-label="loading" color="primary" class="x2">autorenew</mat-icon>
      </div>
      <button (click)="submit()" mat-flat-button type="submit" [disabled]="(waiting | async)" color="primary">Submit</button>
    </div>
  </section>
</form>
