<mat-form-field class="Select__container">
  <mat-icon *ngIf="icon" matPrefix>{{icon}}</mat-icon>
<!--  <input-->
<!--    [ngClass]="['Select', componentSizeClass, componentStyleClass]"-->
<!--    matInput-->
<!--    [name]="name"-->
<!--    [type]="type"-->
<!--    [placeholder]="placeholder"-->
<!--    [disabled]="disabled"-->
<!--    [formControl]="inputFormControl"-->
<!--    [errorStateMatcher]="matcher"-->
<!--    (change)="handleValueChange($event)"-->
<!--    (input)="handleValueChange($event)"-->
<!--  >-->
  <input type="text"
         placeholder="Pick one"
         aria-label="Number"
         matInput
         [name]="name"
         [type]="type"
         [disabled]="disabled"
         [placeholder]="placeholder"
         [matAutocomplete]="auto"
         (change)="handleValueChange($event)"
         (input)="handleValueChange($event)">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of (_options | async)" [value]="option.label" (click)="select(option)">
      {{option.label}}
    </mat-option>
  </mat-autocomplete>
  <mat-hint class="Select__container" *ngIf="error">
    <span>{{error}}</span>
  </mat-hint>
</mat-form-field>
