.Link {
  font-size: 17px;
  display: inline-block;
  line-height: 20px;
  border: 1px solid transparent;

  &--primary, &--transperent {
    .Link__content {
      transition: color .3s;
      color: white;
    }

    &:hover {
      span {
        color: #F1256D;
      }
    }
  }

  &--accent {
    .Link__content {
      transition: color .3s;
      color: #F1256D;
    }

    &:hover {
      span {
        color: #F1256D;
        text-decoration: underline;
      }
    }
  }
}
