<h1>Topic tree</h1>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="topic-tree">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li class="mat-tree-node">
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      <span class="topic-tree-node-name">{{node.Name}}</span>
    </li>
    <button mat-icon-button color="primary" class="open-tests" (click)="openNode(node)" aria-label="Open tests">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li>
      <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <span class="topic-tree-node-name">{{node.Name}}</span>
        <button mat-icon-button color="primary" class="open-tests" (click)="openNode(node)" aria-label="Open tests">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>

      <ul [class.topic-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
