:host {
  display: block;
  padding: 16px 24px
}

.topic-tree-invisible {
  display: none;
}

.topic-tree ul,
.topic-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-tree-node {
  display: flex;
}

.topic-tree-node-name {
  flex-grow: 1;
}
