$borderColor: #404040;

.Checkbox {
    border: none;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &--size-primary {
        .Checkbox {
            width: 24px;
            height: 24px;
            margin-right: 10px;

            &__sign {
                width: 16px;
                height: 16px;
            }

            &__label {
                font-size: 16px;
                font-weight: normal;
            }
        }
    }

    &--style-primary {
        .Checkbox {
            border: 2px solid $borderColor;
            background-color: transparent;
            outline: none;

            &:focus {
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
            }

            &__sign {
                background-image: linear-gradient(to right, #f06747, #f12471);
            }

            &__label {
                color: #b5b5b5;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }

    &__label {
        flex: 1;
    }
}

.Error {
    &__container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: right;
    }

    &__label {
        color: #ff0000;
        font-size: 10px;
        padding: 2px 14px;
        font-weight: lighter;
    }
}
