﻿<section class="Checkbox__wrapper" [ngClass]="[componentSizeClass, componentStyleClass]">
  <mat-checkbox
    [labelPosition]="labelPosition"
    [checked]="checked"
    (change)="toggleCheck()"
  >{{label}}</mat-checkbox>
  <mat-error class="Error__container" *ngIf="error">
    <span>{{error}}</span>
  </mat-error>
</section>
