<button mat-button [matMenuTriggerFor]="useraccount">
    <mat-icon aria-label="main toolbar user account icon">account_circle</mat-icon>
    <span class="name">Hi {{currentUser.FirstName}}!</span>
</button>
<mat-menu #useraccount="matMenu">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="account-header-image"></div>
            <mat-card-title>{{currentUser.FirstName}} {{currentUser.LastName}}</mat-card-title>
            <mat-card-subtitle>{{currentUser.Email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            You are working on <br />
            <b>Test mode</b>
            <p>
                <sub>Themes:</sub>
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-icon-button matTooltip="Change to default theme" (click)="changeTheme('default-theme')"
                [style.background]="currentTheme == 'default-theme' && '#eeeeee' || 'none'">
                <mat-icon aria-label="Example icon-button with a heart icon" color="primary">palette</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Change to minimal ligth theme" (click)="changeTheme('minimal-light-theme')"
                [style.background]="currentTheme == 'minimal-light-theme' && '#eeeeee' || 'none'">
                <mat-icon aria-label="Example icon-button with a heart icon" color="accent">palette</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Change to minimal dark theme" (click)="changeTheme('minimal-dark-theme')"
                [style.background]="currentTheme == 'minimal-dark-theme' && '#333333' || 'none'">
                <mat-icon aria-label="Example icon-button with a heart icon" color="warm">palette</mat-icon>
            </button>
            <button mat-button>
                <mat-icon aria-label="main toolbar user account icon">edit</mat-icon>
                <span>EDIT</span>
            </button>
        </mat-card-actions>
    </mat-card>
</mat-menu>
