<app-main-nav
  [currentUser]="currentUser"
  [class.default-theme]="currentTheme == 'default-theme'"
  [class.minimal-light-theme]="currentTheme == 'minimal-light-theme'"
  [class.minimal-dark-theme]="currentTheme == 'minimal-dark-theme'">
    <perfect-scrollbar id="main-content-wrapper" style="max-width: 1280px; margin: 0 auto" [config]="config">
        <router-outlet></router-outlet>
    </perfect-scrollbar>
    <!-- footer -->
    <app-footer></app-footer>
</app-main-nav>
