<form class="LoginForm">
  <div class="form-group">
    <app-input type="text"
               [placeholder]="'Username'"
               name="login-username"
               [value]="username"
               [error]="usernameError"
               (onValueChange)="handleUsernameChange($event)"
               [componentSize]="'secondary'"></app-input>
  </div>
  <div class="form-group">
    <app-input type="password"
               [placeholder]="'Password'"
               name="login-password"
               [value]="password"
               [error]="passwordError"
               (onValueChange)="handlePasswordChange($event)"
               [componentSize]="'secondary'"></app-input>
  </div>
  <div class="form-group">
    <app-checkbox [checked]="rememberMe | async" (onValueChange)="setRememberMe($event)" [label]="'Remember me'"></app-checkbox>
  </div>
<!--  <div>-->
<!--    <app-button type="submit"-->
<!--                [componentSize]="'primary'"-->
<!--                (click)="submit()">-->
<!--      Submit-->
<!--    </app-button>-->
  <!--  </div>-->
    <section class="submit">
      <div class="d-flex justify-content-between align-items-center">
        <div [style.visibility]="(waiting | async) ? 'visible' : 'hidden'" class="spin-container animation-spin">
          <mat-icon aria-label="loading" color="primary" class="x2">autorenew</mat-icon>
        </div>
        <button (click)="submit()" mat-flat-button type="submit" [disabled]="waiting | async" color="primary">Login in</button>
      </div>
    </section>
</form>
