<ng-container [ngSwitch]="question.QuestionType">
  <app-question-select *ngSwitchCase="QuestionType.SELECT" [question]="question"></app-question-select>
  <app-question-multiselect *ngSwitchCase="QuestionType.MULTISELECT" [question]="question"></app-question-multiselect>
  <app-question-short *ngSwitchCase="QuestionType.SHORT" [question]="question"></app-question-short>
  <app-question-number *ngSwitchCase="QuestionType.NUMBER" [question]="question"></app-question-number>
  <app-question-compilance *ngSwitchCase="QuestionType.COMPILANCE" [question]="question"></app-question-compilance>
  <app-question-sequence *ngSwitchCase="QuestionType.SEQUENCE" [question]="question"></app-question-sequence>
  <app-question-truthfulness *ngSwitchCase="QuestionType.TRUTHFULLNESS" [question]="question"></app-question-truthfulness>
  <app-question-select *ngSwitchDefault [question]="question"></app-question-select>
</ng-container>
