<section *ngIf="steps" class="stepper-container">
  <header>
    <h2>Step {{ selectedIndex + 1 }}/{{ steps.length }}</h2>
  </header>

  <div *ngIf="selected" [style.display]="selected ? 'block' : 'none'">
    <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
  </div>

  <footer class="stepper-step-navigation-bar">
    <button mat-button disabled class="stepper-nav-button" cdkStepperPrevious>&larr;</button>
    <button
      class="stepper-step"
      *ngFor="let step of steps; let i = index"
      [ngClass]="{ 'step-active': selectedIndex === i }"
      (click)="onClick(i)"
    >
      Step {{ i + 1 }}
    </button>
    <button mat-button [disabled]="isNextDisabled" class="stepper-nav-button" cdkStepperNext>&rarr;</button>
    <button mat-flat-button color="primary" *ngIf="showComplete" (click)="complete()" class="stepper-complete">Complete</button>
  </footer>
</section>
<section *ngIf="!steps" class="stepper-container">
  <mat-spinner></mat-spinner>
</section>
