.stepper-container {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.stepper-step-navigation-bar {
  //display: flex;
  //justify-content: flex-start;
  margin-top: 10px;
}

.stepper-active {
  color: blue;
}

.stepper-step {
  background: transparent;
  border: 0;
  margin: 0 10px;
  padding: 10px;
  color: black;
}

.stepper-step.stepper-active {
  color: blue;
  border-bottom: 1px solid blue;
}

.stepper-complete {
  float: right;
}
