<h2 mat-dialog-title>Remove {{item.type}}</h2>
<mat-dialog-content>
    <p>
        Are you sure to remove <em>"{{item.Title}}"</em>?
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Remove</button>
</mat-dialog-actions>
