<h2>Test completed</h2>
<div *ngIf="results | async">
  <h3>Mark: <b><i>{{mark | async}}</i></b></h3>
  <h3>Answers:</h3>
  <ul>
    <li *ngFor="let result of (answerEntries | async)">
      <span># {{result.QuestionId}}</span>&nbsp;<span>{{result.title}}</span><br>
      <span>Weight: {{result.Weight}}</span><br>
      <span>{{result.IsTrueAnswer ? 'Is correct' : 'Is incorrect' }}</span><br>
    </li>
  </ul>
</div>
