<div class="Login">
  <div>
    <h1>Login</h1>
    <p class="Login__link">
      <app-link [componentStyle]="'secondary'" [href]="'/register'">Need an account?</app-link>
    </p>
  </div>
  <app-login-form [waiting]="waiting" (onSubmit)="submitForm($event)"></app-login-form>
</div>
