<h1>Edit test</h1>
<div class="EditTest">
  <div class="EditTest__card__wrapper">
    <div class="EditTest__card">
      <app-edit-test-form
        [description]="test ? test.Description: ''"
        [title]="test ? test.Title : ''"
        [topicTestId]="test ? test.TopicTestId : -1"
        [waiting]="waiting"
        (onSubmit)="submitForm($event)"
      ></app-edit-test-form>
    </div>
  </div>
</div>

<app-questions-list [isLoadingResults]="waiting | async"></app-questions-list>
