$borderColor: #404040;

.Input {
    //border: none;
    //border-radius: 0;
    //color: #b5b5b5;
    //background: transparent;
    display: block;
    width: 100%;
    //padding: 6px 12px;
    //outline: none;

    &--size-primary {
        font-size: 20px;
        font-weight: normal;
    }

    &--size-secondary {
        font-size: 16px;
        font-weight: normal;
    }

    //&--style-primary {
    //    border: 2px solid $borderColor;
    //
    //    &:focus {
    //        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    //    }
    //}

    //&--style-secondary {
    //    color: white;
    //    font-weight: 600;
    //    font-style: italic;
    //    border-bottom: 1px solid $borderColor;
    //    caret-color: #F1256D;
    //
    //    &::placeholder {
    //        font-weight: 400;
    //    }
    //
    //    &:focus {
    //        border-bottom: 2px solid white;
    //    }
    //}

    //&--style-tertiary {
    //    color: black;
    //    font-weight: 600;
    //    border-bottom: 1px solid $borderColor;
    //
    //    &::placeholder {
    //        font-weight: 400;
    //    }
    //
    //    &:focus {
    //        border-bottom: 2px solid black;
    //    }
    //}

    &__container {
        position: relative;
        display: block;
    }
}

.Error {
    //&__container {
    //    position: absolute;
    //    bottom: 0;
    //    left: 0;
    //    right: 0;
    //    text-align: right;
    //}
    //
    //&__label {
    //    color: #ff0000;
    //    font-size: 10px;
    //    padding: 2px 14px;
    //    font-weight: lighter;
    //}
}
