﻿<mat-form-field class="Input__container">
  <mat-icon *ngIf="icon" matPrefix>{{icon}}</mat-icon>
  <input
    [ngClass]="['Input', componentSizeClass, componentStyleClass]"
    matInput
    [name]="name"
    [type]="type"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [formControl]="inputFormControl"
    [errorStateMatcher]="matcher"
    (change)="handleValueChange($event)"
    (input)="handleValueChange($event)"
  >
  <mat-error class="Error__container" *ngIf="error">
    <span>{{error}}</span>
  </mat-error>
</mat-form-field>
