<small>Weight: {{question.Weight}}</small>
<h1>{{question.Title}}</h1>
<ul>
  <li *ngFor="let version of question.Versions; index as i;">
    <app-checkbox [checked]="selected === i" (onValueChange)="select(i)" [label]="i + ': ' + version.Title"></app-checkbox>
  </li>
</ul>
