﻿<div class="Subheader">
  <div class="container-fluid">
    <div class="container p0">
        <p>
            <span class="Subheader__active">Home</span>
            <ng-container *ngFor="let dot of dots"> /
                <app-local-link
                    class="Subheader__link"
                    componentStyle="breadcrump"
                    [href]="dot.link"
                >
                    {{dot.text}}
                </app-local-link>
            </ng-container>
        </p>
    </div>
  </div>
</div>
