.Subheader {
    padding: 137px 0 12px;

    &__link {
        color: #8e8e8e;
        padding-right: 5px;
        padding-left: 5px;
    }

    &__active {
        color: #f0592a;
        padding-right: 5px;
    }

    p {
        font-size: 14px;
        margin-bottom: 0;
    }
}
