<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true " [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)" [class.closed]="hasMiniSidenav && !isOpened"
        (mouseover)="(hasMiniSidenav && hasToggleMiniSidenav) && toggleSideMenu && drawer.open()" (mouseout)="(hasToggleMiniSidenav && toggleSideMenu) && drawer.close()">

        <!-- sidenav -->
        <app-sidenav></app-sidenav>

    </mat-sidenav>
    <mat-sidenav-content [class.closed]="hasMiniSidenav && !isOpened">
        <mat-toolbar color="primary">

            <!-- toolbar options -->
            <app-toolbar [currentUser]="currentUser" [sidenav]="drawer" [toggleMenu$]="hasMiniSidenav && toggleSideMenu$" [showAccount]="true"
                [showLanguage]="true" [showLogout]="true"></app-toolbar>

        </mat-toolbar>

        <!-- Add Content Here -->
        <ng-content></ng-content>

    </mat-sidenav-content>
</mat-sidenav-container>
