.Toast {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 15px 10px 48px;
    width: 290px;
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd #d6d6d6 #cfcfcf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);

    &__title, &__message {
        padding: 0;
        margin: 0;
    }

    &__close {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}
