﻿<div class="Toast"
     [@fadeAnimation]="{value: animationState, params:
        { fadeIn: toastConfig.animation.fadeIn, fadeOut: toastConfig.animation.fadeOut }}"
     (@fadeAnimation.done)="onFadeFinished($event)">
    <h2 class="Toast__title">{{ data.title }}</h2>
    <div class="Toast__message">{{ data.text }}</div>
    <mat-icon class="Toast__close" (click)="close()">close</mat-icon>
</div>
