<small>Weight: {{question.Weight}}</small>
<br><br>
<h1>{{question.Title}}</h1>
<span>Select one correct answer</span>
<ul>
  <li *ngFor="let version of question.Versions; index as i;">
    <app-checkbox [checked]="selected === i" (onValueChange)="select(i)" [label]="i + ': ' + version.Title"></app-checkbox>
  </li>
</ul>
