:host {
  display: block;
  padding: 16px 24px
}

/* Structure */
.topic-container {
  position: relative;
  min-height: 200px;
}

.topic-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.topic-loading-shade {
  margin: 34px auto;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topic-rate-limit-reached {
  color: gray;
  max-width: 360px;
  text-align: center;
  margin: 75px auto;
}

.mat-row {
  cursor: pointer;
  &:hover {
    background: rgba(0,0,0,0.25);
  }
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
