﻿<label class="Textarea__container">
    <textarea 
        [ngClass]="['Textarea', componentSizeClass, componentStyleClass]"
        [rows]="rows"
        [value]="value"
        [placeholder]="placeholder"
        [disabled]="disabled"
        (change)="handleValueChange($event)"
        (input)="handleValueChange($event)"
    ></textarea>
    <div *ngIf="error" class="Error__container">
        <span class="Error__label">{{ error }}</span>
    </div>
</label>
