<div id="Auth__wrapper">
    <app-header></app-header>

    <div class="Auth">
        <div class="Auth__card__wrapper">
            <div class="Auth__card">
                <router-outlet>
                    <!-- Add Content Here -->
                    <ng-content></ng-content>
                </router-outlet>
            </div>
        </div>
    </div>

    <!-- footer -->
    <app-footer></app-footer>
</div>
