:host {
  display: block;
  padding: 16px 24px
}

/* Structure */
.test-container {
  position: relative;
  min-height: 200px;
}

.test-table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.test-loading-shade {
  margin: 34px auto;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-rate-limit-reached {
  color: gray;
  max-width: 360px;
  text-align: center;
  margin: 75px auto;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.mat-column-Controls {
  max-width: 100%;
  white-space: nowrap;
  width: 1%;
}
