.Paginator {
    display: inline-block;
    padding: 0;
    margin: 20px 0;
    float: right;

    &__page {
        cursor: pointer;

        &--active {
            color: #f06648;
        }
    }

    &__arrow {
        color: #f06648;
        cursor: pointer;
    }

    ul li {
        display: inline-block;
        padding: 0 5px;
    }
}
