<div class="Paginator">
  <ul *ngIf="showButtons">
    <li (click)="handleLeftClick()"
        [ngClass]="{
                  'Paginator__arrow Paginator__arrow--left': true,
                  'Paginator__arrow--disabled': !showLeftArrow
              }">
      <img alt="arrow" src="/img/leftarrow.png">
    </li>
    <li *ngIf="showLeftJump"
        (click)="handleLeftJump()"
        class="Paginator__arrow Paginator__arrow--left">
      ...
    </li>
    <ng-container *ngFor="let item of totalPagesArray">
      <li *ngIf="item.isShown"
          (click)="handlePageClick(item.index)"
          [ngClass]="{
                  'Paginator__page': true,
                  'Paginator__page--active': currentPage === item.index
              }">
        {{ item.index + 1 }}
      </li>
    </ng-container>
    <li *ngIf="showRighJump"
        (click)="handleRightJump()"
        class="Paginator__arrow Paginator__arrow--right">
      ...
    </li>
    <li (click)="handleRightClick()"
        [ngClass]="{
                  'Paginator__arrow Paginator__arrow--right': true,
                  'Paginator__arrow--disabled': !showRightArrow
              }">
      <img alt="arrow" src="/img/rightarrow.png">
    </li>
  </ul>
</div>