.SectionHeader {
    padding-top: 55px;
    padding-bottom: 55px;

    &__title {
        font-size: 24px;
    }
}


:host-context(.rtl) {
    .SectionHeader {
        direction: rtl;
        transform: scale(-1, 1);

        &__title {
            transform: scale(-1, 1);
        }
    }
}