<div class="SectionHeader" [ngStyle]="{'background': sectionImage}">
    <div class="container-fluid">
        <div class="container p0">
          <p class="SectionHeader__title white bold text-uppercase">{{text}}</p>
        </div>
    </div>
</div>