<div class="Register">
  <div>
    <h1>Register</h1>
    <p class="Register__link">
      <app-link [componentStyle]="'secondary'" [href]="'/login'">Have an account?</app-link>
    </p>
  </div>
  <app-register-form [waiting]="waiting" (onSubmit)="submitForm($event)"></app-register-form>
</div>
