/* Structure */
.history-container {
  position: relative;
  min-height: 200px;
}

.history-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.history-loading-shade {
  margin: 34px auto;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-rate-limit-reached {
  color: gray;
  max-width: 360px;
  text-align: center;
  margin: 75px auto;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
