<h1>Testing history</h1>
<div class="history-container mat-elevation-z8">
  <div class="history-table-container">
    <table mat-table [dataSource]="data" class="history-table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">{{row.Id}}</td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{row.NameTest}}</td>
      </ng-container>

      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let row">{{row.FinishTestDate | dateTime}}</td>
      </ng-container>

      <ng-container matColumnDef="Topic">
        <th mat-header-cell *matHeaderCellDef>Topic</th>
        <td mat-cell *matCellDef="let row">{{row.TitleTopic}}</td>
      </ng-container>

      <ng-container matColumnDef="Mark">
        <th mat-header-cell *matHeaderCellDef>Mark</th>
        <td mat-cell *matCellDef="let row">{{row.Mark}}</td>
      </ng-container>

      <ng-container matColumnDef="True answers">
        <th mat-header-cell *matHeaderCellDef>True answers</th>
        <td mat-cell *matCellDef="let row">{{row.NumberOfTrueTests}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="history-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div class="history-rate-limit-reached" *ngIf="isRateLimitReached">
      Empty
    </div>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
</div>
