<p>questions-list works!</p>
<div class="test-container mat-elevation-z8">
  <div class="test-table-container">

    <table mat-table [dataSource]="data" class="test-table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
      <!-- Id Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">{{row.Id}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let row">{{row.Title}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let row">{{row.Description}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="Controls">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <!-- <button (click)="edit(row)" mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="delete(row)" mat-icon-button color="primary">
            <mat-icon>delete</mat-icon>
          </button>-->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="test-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="test-rate-limit-reached" *ngIf="isRateLimitReached">
      Empty
    </div>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
</div>
