<form class="RegisterForm">
  <div class="form-group">
    <app-input type="text"
               [placeholder]="'First Name'"
               name="register-first-name"
               [value]="firstName"
               [error]="firstNameError"
               (onValueChange)="handleFirstNameChange($event)"
               [componentSize]="'secondary'"></app-input>
  </div>
  <div class="form-group">
    <app-input type="text"
               [placeholder]="'Last Name'"
               name="register-last-name"
               [value]="lastName"
               [error]="lastNameError"
               (onValueChange)="handleLastNameChange($event)"
               [componentSize]="'secondary'"></app-input>
  </div>
  <div class="form-group">
    <app-input type="text"
               [placeholder]="'Email'"
               name="register-email"
               [value]="email"
               [error]="emailError"
               (onValueChange)="handleEmailChange($event)"
               [componentSize]="'secondary'"></app-input>
  </div>
  <div class="form-group">
    <app-input type="text"
               [placeholder]="'Password'"
               name="register-password"
               [value]="password"
               [error]="passwordError"
               (onValueChange)="handlePasswordChange($event)"
               [componentSize]="'secondary'"></app-input>
  </div>
  <section class="submit">
    <div class="d-flex justify-content-between align-items-center">
      <div [style.visibility]="(waiting | async) ? 'visible' : 'hidden'" class="spin-container animation-spin">
        <mat-icon aria-label="loading" color="primary" class="x2">autorenew</mat-icon>
      </div>
      <button (click)="submit()" mat-flat-button type="submit" [disabled]="(waiting | async)" color="primary">Login in</button>
    </div>
  </section>
</form>
