<h1>Create test</h1>
<div class="CreateTest">
  <div class="CreateTest__card__wrapper">
    <div class="CreateTest__card">
      <app-create-test-form [waiting]="waiting" (onSubmit)="submitForm($event)"></app-create-test-form>
    </div>
  </div>
</div>
