<!-- toogle sidenav -->
<div id="toolbar-menu">
    <div *ngIf="sidenav">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="onToggleMenu()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div id="breadcrumb-wrapper" [style.display]="!hasBreadcrumb && 'none'">
            <app-breadcrumb></app-breadcrumb>
        </div>
    </div>
</div>

<div id="toolbar-options">
    <!-- User Data -->
    <div *ngIf="showAccount" id="toolbar-languages">
        <app-account-card [currentUser]="currentUser | async"></app-account-card>
    </div>

<!--    &lt;!&ndash; Languages &ndash;&gt;-->
<!--    <div *ngIf="showLanguage" id="toolbar-languages">-->
<!--        <app-language-dropdown></app-language-dropdown>-->
<!--    </div>-->

    <!-- logout -->
    <div *ngIf="showLogout" id="toolbar-logout">
        <app-logout-button (onLogoutPressed)="logout()"></app-logout-button>
    </div>
</div>
